
<body>
    <div class="main">
      
            <div class="topnav">
                <span class="logo">
                    <img src="/assets/images/logo.png" alt="image not available" >
                </span>
                <span class="home">
                    <a class="active" [routerLink]="['/landing']">Home</a>
                </span>
                <span class="profile">
                    <a [routerLink]="['/']">logout</a>
                    <a [routerLink]="['/profile']">profile</a>
                </span>
              </div>                                  
              
    </div>
</body>
